@page "{id?}"
@model Plants.Views.Home.ProfileModel
@{ViewBag.Title = "Profile";}

@using (Html.BeginForm("Search", "Plant", FormMethod.Get)) { }

<table class="table">
    <tr>
        <th>@Model.apiData.common_name</th>
    </tr>
    <tr>
    <th>@Model.apiData.slug</th>
    <th>@Model.apiData.scientific_name</th>
    <th>@Model.apiData.year</th>
    <th>@Model.apiData.bibliography</th>
    <th>@Model.apiData.author</th>
    <th>@Model.apiData.status</th>
    <th>@Model.apiData.rank</th>
    <th>@Model.apiData.family_common_name</th>
    <th>@Model.apiData.image_url</th>
    <th>@Model.apiData.synonyms[0]</th>
    <th>@Model.apiData.genus</th>
    <th>@Model.apiData.family</th>
    <th>@Model.apiData.links.genus</th>
    <th>@Model.apiData.links.plant</th>
    <th>@Model.apiData.links.self</th>
    </tr>
</table>