@page "{id?}"
@model Plants.Views.Home.ProfileModel
@{ViewBag.Title = "Profile";}

@using (Html.BeginForm("Search", "Plant", FormMethod.Get)) { }

<table class="table">
    <tr><td>Id: @Model.species.id</td></tr>
    <tr><td>CommonName: @Model.species.common_name</td></tr>
    <tr><td>Slug: @Model.species.slug</td></tr>
    <tr><td>ScientificName: @Model.species.scientific_name</td></tr>
    <tr><td>Year: @Model.species.year</td></tr>
    <tr><td>Bibliography: @Model.species.bibliography</td></tr>
    <tr><td>Author: @Model.species.author</td></tr>
    <tr><td>Status: @Model.species.status</td></tr>
    <tr><td>Rank: @Model.species.rank</td></tr>
    <tr><td>FamilyCommonName: @Model.species.family_common_name</td></tr>
    <tr><td>GenusId: @Model.species.genus_id</td></tr>
    <tr><img class="img-fluid" src="@Model.species.image_url" alt="No Image Available" /></img></tr>
    <tr><td>Duration: @Model.species.duration</td></tr>
    <tr><td>EdiblePart: @Model.species.edible_part</td></tr>
    <tr><td>Edible? @Model.species.edible</td></tr>
    <tr><td>Vegetable? @Model.species.vegetable</td></tr>
    <tr><td>Observation: @Model.species.observation</td></tr>
    <tr><td>CommonNames: @Model.species.common_names</td></tr>
    <tr><td>Distribution: @Model.species.distribution</td></tr>
    <tr><td>Synonyms: @Model.species.synonyms[0]</td></tr>
    <tr><td>Sources: @Model.species.sources</td></tr>
    <tr><td>Genus: @Model.species.genus</td></tr>
    <tr><td>Family: @Model.species.family</td></tr>
    <tr><td>PlantId: @Model.species.plant_id</td></tr>

    <tr><td>Links/Self: @Model.species.links.self</td></tr>
    <tr><td>Links/Plant: @Model.species.links.plant</td></tr>
    <tr><td>Links/Genus: @Model.species.links.genus</td></tr>

    @*<tr><th>Images/Flower: @Model.apiData.images.flower</th></tr>
        <tr><th>Images/Leaf: @Model.apiData.images.leaf</th></tr>
        <tr><th>Images/Habit: @Model.apiData.images.habit</th></tr>
        <tr><th>Images/Fruit: @Model.apiData.images.fruit</th></tr>
        <tr><th>Images/Bark: @Model.apiData.images.bark</th></tr>
        <tr><th>Images/Other: @Model.apiData.images.other</th></tr>*@

    @*<tr><th>Distributions/Native: @Model.apiData.distributions.native</th></tr>
    <tr><th>Distributions/Introduced: @Model.apiData.distributions.introduced</th></tr>
    <tr><th>Distributions/Doubtful: @Model.apiData.distributions.doubtful</th></tr>
    <tr><th>Distributions/Absent: @Model.apiData.distributions.absent</th></tr>
    <tr><th>Distributions/Extinct: @Model.apiData.distributions.extinct</th></tr>*@

    @*<tr><th>Flower/Color: @Model.apiData.flower.color</th></tr>
    <tr><th>Flower/Conspicuous: @Model.apiData.flower.conspicuous</th></tr>*@

    @*<tr><th>Foliage/Texture: @Model.apiData.foliage.texture</th></tr>
    <tr><th>Foliage/Color: @Model.apiData.foliage.color</th></tr>
    <tr><th>Foliage/LeafRetention: @Model.apiData.foliage.leaf_retention</th></tr>*@

    @*<tr><th>FruitOrSeed/Conspicuous: @Model.apiData.fruit_or_seed.conspicuous</th></tr>
    <tr><th>FruitOrSeed/Color: @Model.apiData.fruit_or_seed.color</th></tr>
    <tr><th>FruitOrSeed/Shape: @Model.apiData.fruit_or_seed.shape</th></tr>
    <tr><th>FruitOrSeed/SeedPersistence: @Model.apiData.fruit_or_seed.seed_persistence</th></tr>*@

    @*<tr><td>Specifications/Type: @Model.apiData.specifications.type</td></tr>
    <tr><td>Specifications/Form: @Model.apiData.specifications.form</td></tr>
    <tr><td>Specifications/GrowthHabit: @Model.apiData.specifications.growth_habit</td></tr>
    <tr><td>Specifications/GrowthRate: @Model.apiData.specifications.growth_rate</td></tr>
    <tr><td>Specifications/AverageHeight: @Model.apiData.specifications.average_height</td></tr>
    <tr><td>Specifications/MaximumHeight: @Model.apiData.specifications.maximum_height</td></tr>
    <tr><td>Specifications/NitrogenFixation: @Model.apiData.specifications.nitrogen_fixation</td></tr>
    <tr><td>Specifications/ShapeAndOrientation: @Model.apiData.specifications.shape_and_orientation</td></tr>
    <tr><td>Specifications/Toxicity: @Model.apiData.specifications.toxicity</td></tr>*@

    @*<tr><th>Growth/DaysToHarvest: @Model.apiData.growth.days_to_harvest</th></tr>
    <tr><th>Growth/Description: @Model.apiData.growth.description</th></tr>
    <tr><th>Growth/Sowing: @Model.apiData.growth.sowing</th></tr>
    <tr><th>Growth/PhMax: @Model.apiData.growth.ph_maximum</th></tr>
    <tr><th>Growth/PhMin: @Model.apiData.growth.ph_minimum</th></tr>
    <tr><th>Growth/Light: @Model.apiData.growth.light</th></tr>
    <tr><th>Growth/AtmosphericHumidity: @Model.apiData.growth.atmospheric_humidity</th></tr>
    <tr><th>Growth/GrowthMonths: @Model.apiData.growth.growth_months</th></tr>
    <tr><th>Growth/BloomMonths: @Model.apiData.growth.bloom_months</th></tr>
    <tr><th>Growth/FruitMonths: @Model.apiData.growth.fruit_months</th></tr>
    <tr><th>Growth/RowSpacing: @Model.apiData.growth.row_spacing</th></tr>
    <tr><th>Growth/Spread: @Model.apiData.growth.spread</th></tr>
    <tr><th>Growth/MaxPrec: @Model.apiData.growth.maximum_precipitation</th></tr>
    <tr><th>Growth/MinPrec: @Model.apiData.growth.minimum_precipitation</th></tr>
    <tr><th>Growth/MinRootDepth: @Model.apiData.growth.minimum_root_depth</th></tr>
    <tr><th>Growth/MinTemp: @Model.apiData.growth.minimum_temperature</th></tr>
    <tr><th>Growth/MaxTemp: @Model.apiData.growth.maximum_temperature</th></tr>
    <tr><th>Growth/SoilNutr: @Model.apiData.growth.soil_nutriments</th></tr>
    <tr><th>Growth/SoilSal: @Model.apiData.growth.soil_salinity</th></tr>
    <tr><th>Growth/SoilTexture: @Model.apiData.growth.soil_texture</th></tr>
    <tr><th>Growth/SoilHum: @Model.apiData.growth.soil_humidity</th></tr>*@

    @*<tr><th>Synonyms/: @Model.apiData.synonyms.id</th></tr>
        <tr><th>Synonyms/: @Model.apiData.synonyms.name</th></tr>
        <tr><th>Synonyms/: @Model.apiData.synonyms.author</th></tr>*@

    @*<tr><th>Sources/Id: @Model.apiData.sources.id</th></tr>
        <tr><th>Sources/Name: @Model.apiData.sources.name</th></tr>
        <tr><th>Sources/Citation: @Model.apiData.sources.citation</th></tr>
        <tr><th>Sources/Url: @Model.apiData.sources.url</th></tr>
        <tr><th>Sources/LastUpdate: @Model.apiData.sources.last_update</th></tr>*@


</table>