@page "{id?}"
@model Plants.Views.Home.ProfileModel
@{ViewBag.Title = "Profile";}

@using (Html.BeginForm("Search", "Plant", FormMethod.Get)) { }

<table class="table">
    <tr>
        <td>@Model.apiData.common_name</td>
        <td>@Model.apiData.slug</td>
        <td>@Model.apiData.scientific_name</td>
        <td>@Model.apiData.year</td>
        <td>@Model.apiData.bibliography</td>
        <td>@Model.apiData.author</td>
        <td>@Model.apiData.status</td>
        <td>@Model.apiData.rank</td>
        <td>@Model.apiData.family_common_name</td>
        <td>@Model.apiData.image_url</td>
        <td>@Model.apiData.synonyms[0]</td>
        <td>@Model.apiData.genus</td>
        <td>@Model.apiData.family</td>
        <td>@Model.apiData.links.genus</td>
        <td>@Model.apiData.links.plant</td>
        <td>@Model.apiData.links.self</td>
    </tr>
</table>